@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  font-family: 'Roboto', sans-serif; ;
  overflow-x: hidden;
  flex-direction:column;
  width: 100vw;
  height: 100vh;
}

.container--main{
  margin: 0 auto;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  width: 65vw;
  height: 100vh;
  
}